main {
    article {
        margin-top: 1%;
        max-width: 60%;
        margin-bottom: 20px;
    
        p {
            margin-left: 15px;
        }    
    }

    aside {
        margin-top: 150px;
        float: right;
        max-width: 40%;
    }
}

.aboutImg img {
    border: 1px solid $dark-grey;
    margin-left: 10px;
    margin-right: 0px;

    max-height: 500px;
    max-width: 100%;
    height: auto;
    width: auto;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutmeinfo {
    margin-bottom: 5%;
    color: black;

    h3 {
        text-decoration: underline;
        font-weight: bold;
    }
}

#about-section {
    background-color:$main-color;

    h1 {
        padding-top: 2%;
    }
}

