#contact-section {
    background-color: $contact-color;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;

    h1 {
        padding-top: 2%;
        color: white;
        
    }

    h4 {
        color: white;
    }

    p {
        color: $highlight-color;
        margin-bottom: 3%;
    }
}

#contact {
    position: relative;
}

#post-contact {
    top: 50%;
    text-align: center;
       position: absolute;
       bottom: 10px;
       left: 50%;
       display: inline-block;
       transform: translateX(-50%);
}

form {
    width: 50%;
    display: inline-block;

    input[type=text], input[type=email], textarea {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 2px;
        resize: vertical;
        align-content: center;
        background-color: darkslategray;
        color:white;
    }
    
    ::placeholder {
        color: lightslategray;
    }
    
    
    input[type=submit] {
        float: right;
        width: fit-content;
        resize: vertical;
        padding: 2px;
        margin-bottom: 10px;
        border-radius: 4px;
        font-size:1rem;
    }
}

