.menu,
.submenu {
    list-style-type:none;
}


.item {
    padding: 1px;
}

.item.button {
    padding: 2px 2px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu {
    display: none;
    flex-wrap: wrap;
    justify-content:flex-end;
    border-bottom: $off-color 3px solid;

    a {
        display: block;
        padding: 0.5rem;
        margin-right: 1.75rem;
        align-content: flex-end;
    }
}

.submenu {
    -webkit-transition: all 0.75s ease-in-out; 
    -moz-transition: all 0.75s ease-in-out; 
    -ms-transition: all 0.75s ease-in-out; 
    -o-transition: all 0.75s ease-in-out; 
    transition: all 0.75s ease-in-out;  
    overflow: hidden;
    height: 0vw;
    //max-height: 0vw;
    color: white;
    background-color: $dark-grey;

    &.active {
        height:  11rem;
        //max-height: 30vw !important;
    }
}

#navbar .item a {
    font-size: 1.2rem;
}

.toggle a{
    order: 1;
}
.toggle a i{
    padding: 5px;
}

.item.button {
    order: 2;
}

.item {
    -webkit-transition: all 0.75s ease-in-out; 
    -moz-transition: all 0.75s ease-in-out; 
    -ms-transition: all 0.75s ease-in-out; 
    -o-transition: all 0.75s ease-in-out; 
    transition: all 0.75s ease-in-out;  
    order: 3;
    width: 100%;
    display: block;
    opacity: 0;   
    font-size: 12px;  
}

.menu .toggle {
    font-size: 1.5rem !important;
}


.active .item {
    opacity: 1;
    display: block;
}

@media only screen and (min-width: 769px) {
    .desktop-nav {
        display: show;
    }
    
    .menu {
        display: none;
    }

    #navbar nav {
        border-bottom: $off-color 3px solid;

        ul {
            padding-left: 10%;
        }
    }    

    .hidden-left {
        opacity: 0;
        transform: translate(-100%);
    }
    
    .hidden-right {
        opacity: 0;
        transform: translate(100%);
    }
    
    .hidden-top {
        opacity: 0;
        transform: translateY(-100%);
    }
    
    .fade-in-element-left {
        animation: fade-in-left 1.5s;
     }
    
    .fade-in-element-right {
       animation: fade-in-right 1.5s;
    }
    
    .fade-in-element-top {
        animation: fade-in-top 1s;
     }
}


@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    
    .menu {
        display: flex;
    }

    #navbar nav {
        border-bottom: none;

        ul {
            padding-left: 5%;
        }
    }

    .hidden-left {
        opacity: 1;
        transform: none;
    }
    
    .hidden-right {
        opacity: 1;
        transform: none;
    }
    
    .hidden-top {
        opacity: 1;
        transform: none;
    }
    
    .fade-in-element-left {
        animation: none;
     }
    
    .fade-in-element-right {
       animation: none;
    }
    
    .fade-in-element-top {
        animation: none;
     }
}