/* global*/
@import 'config';
@import 'button';
@import 'navbar';
@import 'about';
@import 'contact';
@import 'garlicquasar';


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $main-color;
    font-family: $font-stack;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    //position: relative;

    h1 {
        text-underline-offset: 15px;
    }

    li {
        font-size: 1.35rem;
    }
}

/* main */
main { 
    img {
        max-width: 95%;
        max-height: 500px;
        width:auto;
        height: auto;
        margin-bottom: 40px;
        //box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow-x: hidden;
        border: 1px solid $dark-grey;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 3%;
        font-weight: bold;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
        text-align: center;
    }
    
    h4 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    a {
        text-decoration: none;
    }    
    
    p {
        font-size: 1.35em;
    }

    li {
        margin-bottom: 4px;
    }
}

footer {
    border-top: white 4px solid;
    background-color: $footer-color;
    color: white;

    #copyright {
        text-align: center;
        margin: 10px;
    }
    
    .icon-border {
        border: 2px solid black;
        margin: 10px;
        text-align: center;
        background-color: $contact-color;
        border-radius: 2px;
        transition: all ease-in-out 0.25s;

        &:hover {
            background-color: $highlight-color;

            .icon {
                animation: jiggle ease-in-out 400ms infinite;
            }
        }
    }

    .icon-border:hover {
        background-color: $highlight-color;
    }

    #icons {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        //background-color: #f5dbba;
        //border-radius: 10px;
       
    }

    .icon {
        color: $main-color;
        font-size: 40px;
        margin: 10px;
    }
}

@keyframes jiggle {
	0% {
		transform: none;
	}
	25% {
		transform: rotateZ(5deg);;
	}

	75% {
		transform: rotateZ(-5deg)
	}
	100% {
		transform: none;
	}
}

#contact-polygon {
    fill:$contact-color;
}

#project-section {
    background-color: $main-color;
}

#makeforyou {
    padding-top: 3%;
    padding-bottom: 2%;
}

#stayatbottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#nameLink a {
    text-transform: none;
}

#borderId {
    border: 1px solid $dark-grey;
    background-color: $off-color;
}

#intro {
    font-size: 50px;
    font-stretch: expanded;
    margin-bottom: 0px;
    text-decoration: none;
}

#underline {
    color: #660066;

    a:hover {
        color: #ff6666;
        text-decoration-line: underline;
    }
}

#accomplishmentsText {
    margin-left: 3%;
}

#smallBottomMargin {
    margin-bottom: 1%;
}

#moveLiRight {
    margin-left: 50%;
}

#my-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

#typewriter-text {
    color: white;
    font-size: xx-large;

    b {
        color:$highlight-color;
    }
}

#dishes-video {
    text-align: center;
}

.vert-center-text {
    position: absolute; 
    top: 40%; 
    left: 0;
    text-align: center; 
    width: 100%; 
 }

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex:1;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header-margin {
    padding-top: 100vh;
}

.textshadow {
    text-shadow: 5px 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
}

.textmargins {
    margin: 3%;
}             

.invis {
    visibility: hidden;
}

.no-decoration:hover {
    text-decoration: none !important;
}

.hidden-left {
    opacity: 0;
    transform: translate(-100%);
}

.hidden-right {
    opacity: 0;
    transform: translate(100%);
}

.hidden-top {
    opacity: 0;
    transform: translateY(-100%);
}

.fade-in-element-left {
    animation: fade-in-left 1.5s;
 }

.fade-in-element-right {
   animation: fade-in-right 1.5s;
}

.fade-in-element-top {
    animation: fade-in-top 1s;
 }

 .center-align {
     text-align: center;
 }

 .project-margin {
     margin-top: 4rem;
 }

@keyframes fade-in-left {
    from {opacity: 0; transform: translate(-100%)}
    to {opacity: 1; transform: translate(0)}
}

@keyframes fade-in-right {
    from {opacity: 0; transform: translate(100%)}
    to {opacity: 1; transform: translate(0)}
}

@keyframes fade-in-top {
    from {opacity: 0; transform: translateY(-100%)}
    to {opacity: 1; transform: translate(0)}
}



@import 'mobile';